@model Usuario

<form asp-action="Login" method="post">
    <h2>Log in</h2>
    <hr />
    <div class="form-group mb-1">
        <label class="form-label" for="Correo">Email</label>
        <input class="form-control" autocomplete="username" aria-required="true" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Correo" name="Correo" value="" />
        <span class="text-danger field-validation-valid" data-valmsg-for="Correo" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group mb-1">
        <label class="form-label" for="Password">Password</label>
        <input class="form-control" autocomplete="current-password" aria-required="true" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" />
        <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
    </div>
    <div class="col-12">
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ('@ViewBag.ErrorMessage' !== '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@ViewBag.ErrorMessage',
                    confirmButtonText: 'Cerrar'
                });
            }
            if ('@ViewBag.MessageCorrect' !== '') {
                Swal.fire({
                    icon: 'success',
                    title: 'Usuario Registrado',
                    text: '@ViewBag.MessageCorrect',
                    confirmButtonText: 'Cerrar'
                });
            }
        });
    </script>
}