@model Usuario
@{
    Layout = ("_LayoutLogin");
}

<body>
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-lg-7 col-md-7 col-sm-12 im">
            <div class="header-image">
                <div class="text-center">
                    <img src="/Images/Logo.png" height="55px" alt="Sivar Places Logo" />
                </div>
                <br />
                <h1 class="text-center">¡Bienvenido(a) a SivarBook!</h1>
                <br>
                <p class="text-center">
                    Aquí encontrarás información detallada sobre los destinos turísticos más
                    populares de todo El Salvador.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 login-content">
            <div class="login">
                <form id="formulario" method="post">
                    <p class="text-center titulo">Inicia sesión</p>
                    <br>
                    <div class="form-group mb-1">
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm-.67 2L12 10.75 5.67 6h12.66ZM19 18H5a1 1 0 0 1-1-1V7.25l7.4 5.55a1 1 0 0 0 1.2 0L20 7.25V17a1 1 0 0 1-1 1Z">
                            </path>
                        </svg>
                        <label class="form-label" for="Correo">Correo electrónico:</label>
                        <input class="form-control" type="email" id="Correo" name="Correo" />
                    </div>
                    <br />
                    <div class="form-group mb-1">
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 8h-1V6.11a4 4 0 1 0-8 0V8H7a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3Zm-7-1.89A2.06 2.06 0 0 1 12 4a2.06 2.06 0 0 1 2 2.11V8h-4V6.11ZM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v8Z">
                            </path>
                            <path d="M12 12a3 3 0 1 0 0 5.999A3 3 0 0 0 12 12Zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path>
                        </svg>
                        <label class="form-label" for="Password">Contraseña:</label>
                        <input class="form-control" type="password" id="Password" name="Password" />
                    </div>
                    <br>
                    <div class="col-12">
                        <button id="login-submit" type="button" class="w-100 btn btn-lg btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>&nbsp;Entrar
                            
                            </button>
                    </div>
                </form>
                <br>
                <p class="text-center">¿No tienes cuenta? <a asp-controller="Home" asp-action="Register"> <b>Regístrate</b> </a> </p>

            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#login-submit").click(function () {
                if ($("#Correo").val() != "" && $("#Password").val() != "") {

                    var inputsInvalidos = $("#formulario .is-invalid").length;

                    var corr = $("#Correo").val();
                    var pas = $("#Password").val();
                    //console.log(rol);

                    $.ajax({
                        url: '@Url.Action("IsValidCredentials","Home")',
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        data: { correo: corr, password: pas },
                        beforeSend: function () {
                            var div = $("#login-submit");
                            var div2 = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando ...`;
                            div.empty();
                            div.append(div2);
                        }
                    }).done(function (resp) {
                        if(resp){
                            var div = $("#login-submit");
                            var div2 = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Iniciando sesion ...`;
                            div.empty();
                            div.append(div2);

                            $.ajax({
                                url: '@Url.Action("Login","Home")',
                                method: 'post',
                                data: {
                                    correo: corr,
                                    pass: pas
                                },
                                success: function (response) {
                                    location.reload();
                                },
                                error: function (xhr, status, error) {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'warning',
                                        title: 'Las credenciales son inválidas',
                                        showConfirmButton: false,
                                        timer: 1300
                                    })
                                }
                            });

                        }else{
                            Swal.fire({
                                position: 'top-end',
                                icon: 'warning',
                                title: 'Las credenciales son inválidas',
                                showConfirmButton: false,
                                timer: 1300
                            })
                        }
                    }).fail();

                } else {
                    Swal.fire({
                        title: 'Todos los campos son obligatorios',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }
                var div = $("#login-submit");
                var div2 = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg>&nbsp;Entrar`;
                div.empty();
                div.append(div2);
            });
        });
    </script>
}