@model Rol

<h2>Delete Rol</h2>

<p>¿Estás seguro de que deseas eliminar este rol?</p>

<table class="table">
    <tr>
        <th>ID Rol</th>
        <td>@Model.IdRol</td>
    </tr>
    <tr>
        <th>Nombre Rol</th>
        <td>@Model.NombreRol</td>
    </tr>
    <tr>
        <th>Estado</th>
        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="Estado" checked="@Model.Estado" disabled>
                <input type="hidden" asp-for="Estado" />
            </div>
        </td>
    </tr>
</table>

<form asp-action="Delete" asp-controller="Rol">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" asp-controller="Rol" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
