<ul class="navbar-nav">
    @if (TempData["IsLoggedIn"] != null && (bool)TempData["IsLoggedIn"])
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Bienvenido, @TempData["NameUser"]!</span>
        </li>
        <li class="nav-item">
            <form id="logout-form" asp-action="Logout" asp-controller="Home" method="post">
                <button type="submit" class="nav-link text-dark" style="background: none; border: none; cursor: pointer;">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>
