@model Lugare
<link rel="stylesheet" href="~/css/valoraciones.css" asp-append-version="true" />

<div class="valoracion mx-0 p-0">

    <!-- Estrella 5 -->
    <button id="star5" class="icon-button">
        <i id="star5i" class="fas fa-star icon"></i>
    </button>

    <!-- Estrella 4 -->
    <button id="star4" class="icon-button">
        <i id="star4i" class="fas fa-star icon"></i>
    </button>

    <!-- Estrella 3 -->
    <button id="star3" class="icon-button" >
        <i id="star3i" class="fas fa-star icon"></i>
    </button>

    <!-- Estrella 2 -->
    <button id="star2" class="icon-button" >
        <i id="star2i" class="fas fa-star icon"></i>
    </button>

    <!-- Estrella 1 -->
    <button id="star1" class="icon-button">
        <i id="star1i" class="fas fa-star icon"></i>
    </button>

</div>

<script>
    function setValoracion(idStar) {

        var div = document.getElementById("miDiv");
        
        let parteEntera = Math.floor(idStar);
        let parteDecimal = idStar - parteEntera;

        const stars = [
            document.getElementById(`star1`),
            document.getElementById(`star2`),
            document.getElementById(`star3`),
            document.getElementById(`star4`),
            document.getElementById(`star5`),
        ]
        //Variable global puntuacion
      
        stars.forEach((star, index) => {
            if (index < idStar){
                star.style.color = '#F9D75D';
            }
            else{
                let val = index + 1;
                console.log(`index ${index}`)
                star.style.color = '#F9D75D';
                let icon2 = document.getElementById(`star${val}i`);
                icon2.classList.replace("fas", "fa-regular")
                //icon.classList.replace("fa-star", "fa - star")
            }

            console.log(parteDecimal)

            if (index == Math.ceil(idStar) && parteDecimal > 0.2) {
                let icon = document.getElementById(`star${index}i`);
                icon.classList.replace("fas", "fa-solid")
                icon.classList.replace("fa-star", "fa-star-half-stroke")
            }
        })
    }
</script>