<div class="valoracion">

    <button id="star5" class="icon-button">
        <i class="fas fa-star icon"></i>
    </button>

    <button id="star4" class="icon-button">
        <i class="fas fa-star icon"></i>
    </button>

    <button id="star3" class="icon-button">
        <i class="fas fa-star icon"></i>
    </button>

    <button id="star2" class="icon-button">
        <i class="fas fa-star icon"></i>
    </button>
    <button id="star1" class="icon-button">
        <i class="fa fa-star icon"></i>
    </button>

</div>

<script>

</script>