@model Municipio

<h2>Crear Municipio</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mb-1">
        <label asp-for="Municipio1" class="control-label">Nombre Municipio</label>
        <input asp-for="Municipio1" class="form-control" />
        <span asp-validation-for="Municipio1" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="IdDepto" class="control-label">Departamento</label>
        <select asp-for="IdDepto" class="form-control">
            <option value="">Seleccione un departamento</option>
            @foreach (Departamento departamento in ViewBag.Departamentos)
            {
                <option value="@departamento.IdDepto">@departamento.Departamento1</option>
            }
        </select>
        <span asp-validation-for="IdDepto" class="text-danger"></span>
    </div>

    <div class="col-12">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
