@model Municipio

<h2>Eliminar Municipio</h2>

<p>¿Estás seguro de que quieres eliminar este Municipio?</p>

<table class="table">
    <tr>
        <th>ID Municipio</th>
        <td>@Model.IdMunicipio</td>
    </tr>
    <tr>
        <th>Nombre Municipio</th>
        <td>@Model.Municipio1</td>
    </tr>
    <tr>
        <th>Departamento</th>
        <td>@Model.IdDeptoNavigation.Departamento1</td>
    </tr>
</table>

<form asp-action="Delete" asp-controller="Municipio">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" asp-controller="Municipio" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
