@model Categoria


<div class="container-fluid create-post">

    <div class="row feed">
        <h3 class="data-header">Mantenimiento de Categorias</h3>

        <div class="data-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="agregar">Nuevo registro</button>
            </div>
            <br />
            <div class="col-md-12" id="contenido">
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="agregar">Nuevo registro</button>
</div>
<br />

<div id="container ">
    <div class="row">
        <div class="col-md-8 offset-md-2" id="contenido">
        </div>
    </div>
</div>

<!-- Modal agregar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregando Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="Form1">
                <div class="modal-body">
                    <div class="form-group mb-1">
                        <label asp-for="NombreCategoria" class="control-label">Nombre de la categoria</label>
                        <input asp-for="NombreCategoria" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal actualizar -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="Form2">
                <div class="modal-body">
                    <input id="IdCategoria2" class="form-control" placeholder="IdDepto" hidden />
                    <div class="form-group mb-1">
                        <label class="control-label">Nombre de la Categoria</label>
                        <input id="NombreCategoria2" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar2" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnActualizar" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        function cargarTabla() {
            $.ajax({
                url: '/admin/Home/getTablaCategoria',
                type: 'post',
                dataType: 'json',
                cache: false
            }).done(function (resp) {
                console.log(resp);
                var div = $("#contenido");
                var tabla = "<table id='tabla' class='table table-striped table-hover fw-light'><thead class='table-dark'><tr><th>Categoria ID</th><th>Categoria</th><th>Acciones</th></tr></thead><tbody>";
                $.each(resp, function (index, categoria) {
                    tabla += "<tr>";
                    tabla += "<td>" + categoria.idCategoria + "</td>";
                    tabla += "<td>" + categoria.nombreCategoria + "</td>";

                    var texto = categoria.nombreCategoria;
                    var textoModificado = texto.replace(/ /g, "-");
                    //console.log(textoModificado);

                    tabla += "<td><a data-bs-toggle='modal' data-bs-target='#exampleModal2' class='btn btn-light fw-light' onclick=cargarUpt('" + categoria.idCategoria + "&&" + textoModificado + "') >Editar</a> | <a class='btn btn-danger fw-light' href=\"javascript:cargarDel('" + categoria.idCategoria + "')\">Eliminar</a></td>";
                    tabla += "</tr>";
                });
                tabla += "</tbody></table>";
                div.empty();
                div.append(tabla);

                //$('#tabla').DataTable();
                var table = new DataTable('#tabla', {
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                    },
                });

            }).fail();

        }

        function cargarDel(idCategoria) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-4'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Estas seguro?',
                text: "Una vez eliminado se pierde definitivamente!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("EliminarCategoria", "Home")',
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        data: { id: idCategoria }
                    }).done(function (resp) {
                        if (resp) {
                            swalWithBootstrapButtons.fire(
                                'Eliminado!',
                                'Tu registro ha sido elimando.',
                                'success'
                            )
                            cargarTabla();
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Cancelado',
                                'Se omitieron los datos',
                                'error'
                            )
                        }
                    }).fail();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Se han omitido los datos',
                        'error'
                    )
                }
            })
        }

        function cargarUpt(valor) {

            var obj = valor.split('&&');
            var textoModificado = obj[1];
            var textoOriginal = textoModificado.replace(/-/g, " ");

            document.getElementById("IdCategoria2").value = obj[0];
            document.getElementById("NombreCategoria2").value = textoOriginal;

        }

        function limpiarCajas(){
            document.getElementById("NombreCategoria").value = "";
        }

        function limpiarClases(){
            document.getElementById("NombreCategoria").classList.remove("is-valid");
            document.getElementById("NombreCategoria").classList.remove("is-invalid");

            document.getElementById("NombreCategoria2").classList.remove("is-valid");
            document.getElementById("NombreCategoria2").classList.remove("is-invalid");
        }

        $(document).ready(function () {

            var inputCategoria = document.getElementById("NombreCategoria");
            function validarCategoria() {

                var valor = inputCategoria.value.trim();
                if (valor.length >= 4) {
                    inputCategoria.classList.add("is-valid");
                    inputCategoria.classList.remove("is-invalid");
                } else {
                    inputCategoria.classList.add("is-invalid");
                    inputCategoria.classList.remove("is-valid");
                }
            }

            inputCategoria.addEventListener("keypress", function () {
                validarCategoria();
            });

            inputCategoria.addEventListener("keydown", function () {
                setTimeout(validarCategoria, 0);
            });

            var inputCategoria2 = document.getElementById("NombreCategoria2");
            function validarCategoria2() {

                var valor = inputCategoria2.value.trim();
                if (valor.length >= 4) {
                    inputCategoria2.classList.add("is-valid");
                    inputCategoria2.classList.remove("is-invalid");
                } else {
                    inputCategoria2.classList.add("is-invalid");
                    inputCategoria2.classList.remove("is-valid");
                }
            }

            inputCategoria2.addEventListener("keypress", function () {
                validarCategoria2();
            });

            inputCategoria2.addEventListener("keydown", function () {
                setTimeout(validarCategoria2, 0);
            });

            cargarTabla();

            $("#btnGuardar").click(function () {
                if ($("#Departamento1").val() != "") {

                    var formulario = $("#Form1").serialize();
                    var inputsInvalidos = $("#Form1 .is-invalid").length;

                    if(inputsInvalidos === 0){
                        $.ajax({
                            url: '@Url.Action("guardarCategoria","Home")',
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            data: formulario
                        }).done(function (resp) {
                            if (resp) {
                                Swal.fire({
                                    title: 'El registro ha sido agregado correctamente',
                                    icon: 'success',
                                    confirmButtonText: 'Continuar'
                                })
                                cargarTabla();
                                $("#btnCerrar").click();
                                limpiarCajas();
                                limpiarClases();
                            } else {
                                Swal.fire({
                                    title: 'Hubo un error al momento de agregar el dato',
                                    icon: 'error',
                                    confirmButtonText: 'Continuar'
                                })
                            }
                        }).fail(function () {
                            Swal.fire({
                                title: 'Hubo un error al momento de agregar el dato',
                                icon: 'error',
                                confirmButtonText: 'Continuar'
                            })
                        });
                    }else{
                        Swal.fire({
                            title: 'Verifica los textos en rojo para continuar',
                            icon: 'error',
                            confirmButtonText: 'Continuar'
                        })
                    }

                } else {
                    Swal.fire({
                        title: 'Todos los campos son obligatorios',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }
            });



            $("#btnActualizar").click(function () {
                //console.log(1);
                if ($("#IdCategoria2").val() != "" && $("#NombreCategoria2").val() != "") {

                    var formulario = $("#Form2").serialize();
                    var inputsInvalidos2 = $("#Form2 .is-invalid").length;

                    var obj1 = document.getElementById("IdCategoria2").value;
                    var obj2 = document.getElementById("NombreCategoria2").value;

                    if(inputsInvalidos2 === 0){
                        $.ajax({
                            url: '@Url.Action("ActualizarCategoria","Home")',
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            data: { id: obj1, valor: obj2 }
                        }).done(function (resp) {
                            if (resp) {
                                Swal.fire({
                                    title: 'El registro ha sido modificado correctamente',
                                    icon: 'success',
                                    confirmButtonText: 'Continuar'
                                })
                                cargarTabla();
                                $("#btnCerrar2").click();
                                limpiarCajas();
                                limpiarClases();
                            } else {
                                Swal.fire({
                                    title: 'Hubo un error al momento de actualizar el dato',
                                    icon: 'error',
                                    confirmButtonText: 'Continuar'
                                })
                            }
                        }).fail(function () {
                            Swal.fire({
                                title: 'Hubo un error al momento de actualizar el dato',
                                icon: 'error',
                                confirmButtonText: 'Continuar'
                            })
                        });
                    }else{
                        Swal.fire({
                            title: 'Verifica los textos en rojo para continuar',
                            icon: 'error',
                            confirmButtonText: 'Continuar'
                        })
                    }

                } else {
                    Swal.fire({
                        title: 'Todos los campos son obligatorios',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }
            });
        });
    </script>

}