@model Departamento


<div class="container-fluid create-post">

    <div class="row feed">
        <h3 class="data-header">Mantenimiento de Departamentos</h3>

        <div class="data-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="agregar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                    </svg>
                    &nbsp;
                    Nuevo registro</button>
            </div>
            <br />
            <div class="col-md-12" id="contenido">
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregando Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="Form1">
                <div class="modal-body">
                    <div class="form-group mb-1">
                        <label asp-for="Departamento1" class="control-label">Nombre Departamento</label>
                        <input asp-for="Departamento1" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal actualizar -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mofificar Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="Form2">
                <div class="modal-body">
                    <input id="IdDepto2" class="form-control" placeholder="IdDepto" hidden/>
                    <div class="form-group mb-1">
                        <label class="control-label">Nombre del departamento</label>
                        <input id="Departamento2" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar2" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnActualizar" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        function cargarTabla() {
            $.ajax({
                url: '/admin/Home/getTablaDepartamento',
                type: 'post',
                dataType: 'json',
                cache: false
            }).done(function (resp) {
                console.log(resp);
                var div = $("#contenido");
                var tabla = "<table id='tabla' class='fw-light table table-striped table-hover'><thead class='table-dark'><tr><th>Departamento ID</th><th>Departamento</th><th>Acciones</th></tr></thead><tbody>";
                $.each(resp, function (index, departamento) {
                    tabla += "<tr>";
                    tabla += "<td>" + departamento.idDepto + "</td>";
                    tabla += "<td>" + departamento.departamento1 + "</td>";

                    var texto = departamento.departamento1;
                    var textoModificado = texto.replace(/ /g, "-");
                    //console.log(textoModificado);

                    tabla += "<td><a data-bs-toggle='modal' data-bs-target='#exampleModal2' class='fw-light btn btn-light' onclick=cargarUpt('" + departamento.idDepto + "&&" + textoModificado + "') >Editar</a> | <a class='fw-light btn btn-danger' href=\"javascript:cargarDel('" + departamento.idDepto + "')\">Eliminar</a></td>";
                    tabla += "</tr>";
                });
                tabla += "</tbody></table>";
                div.empty();
                div.append(tabla);

                //$('#tabla').DataTable();

                var table = new DataTable('#tabla', {
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                    },
                });

            }).fail();

        }

        function cargarDel(IdDepto) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-4'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Estas seguro?',
                text: "Una vez eliminado se pierde definitivamente!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("EliminarDepartamento", "Home")',
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        data: { id: IdDepto }
                    }).done(function (resp) {
                        if (resp) {
                            swalWithBootstrapButtons.fire(
                                'Eliminado!',
                                'Tu registro ha sido elimando.',
                                'success'
                            )
                            cargarTabla();
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Cancelado',
                                'Se omitieron los datos',
                                'error'
                            )
                        }
                    }).fail();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Se han omitido los datos',
                        'error'
                    )
                }
            })
        }

        function cargarUpt(valor) {

            var obj = valor.split('&&');
            var textoModificado = obj[1];
            var textoOriginal = textoModificado.replace(/-/g, " ");

            document.getElementById("IdDepto2").value = obj[0];
            document.getElementById("Departamento2").value = textoOriginal;

        }

        function limpiarCajas(){
            document.getElementById("Departamento1").value = "";
        }

        function limpiarClases(){
            document.getElementById("Departamento1").classList.remove("is-valid");
            document.getElementById("Departamento1").classList.remove("is-invalid");
            
            document.getElementById("Departamento2").classList.remove("is-valid");
            document.getElementById("Departamento2").classList.remove("is-invalid");
        }

        $(document).ready(function () {

            var inputDepto = document.getElementById("Departamento1");
            function validarDepto() {

                var valor = inputDepto.value.trim();
                if (valor.length >= 4) {
                    inputDepto.classList.add("is-valid");
                    inputDepto.classList.remove("is-invalid");
                } else {
                    inputDepto.classList.add("is-invalid");
                    inputDepto.classList.remove("is-valid");
                }
            }

            inputDepto.addEventListener("keypress", function () {
                validarDepto();
            });

            inputDepto.addEventListener("keydown", function () {
                setTimeout(validarDepto, 0);
            });

            var inputDepto2 = document.getElementById("Departamento2");
            function validarDepto2() {

                var valor = inputDepto2.value.trim();
                if (valor.length >= 4) {
                    inputDepto2.classList.add("is-valid");
                    inputDepto2.classList.remove("is-invalid");
                } else {
                    inputDepto2.classList.add("is-invalid");
                    inputDepto2.classList.remove("is-valid");
                }
            }

            inputDepto2.addEventListener("keypress", function () {
                validarDepto2();
            });

            inputDepto2.addEventListener("keydown", function () {
                setTimeout(validarDepto2, 0);
            });

            cargarTabla();

            $("#btnGuardar").click(function () {
                if ($("#Departamento1").val() != "") {

                    var formulario = $("#Form1").serialize();
                    var inputsInvalidos = $("#Form1 .is-invalid").length;

                    if(inputsInvalidos === 0){
                        $.ajax({
                            url: '@Url.Action("guardarDepartamento","Home")',
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            data: formulario
                        }).done(function (resp) {
                            if (resp) {
                                Swal.fire({
                                    title: 'El registro ha sido agregado correctamente',
                                    icon: 'success',
                                    confirmButtonText: 'Continuar'
                                })
                                cargarTabla();
                                $("#btnCerrar").click();
                                limpiarCajas();
                                limpiarClases();
                            } else {
                                Swal.fire({
                                    title: 'Hubo un error al momento de agregar el dato',
                                    icon: 'error',
                                    confirmButtonText: 'Continuar'
                                })
                            }
                        }).fail(function () {
                            Swal.fire({
                                title: 'Hubo un error al momento de agregar el dato',
                                icon: 'error',
                                confirmButtonText: 'Continuar'
                            })
                        });
                    }else{
                        Swal.fire({
                            title: 'Verifica los textos en rojo para continuar',
                            icon: 'error',
                            confirmButtonText: 'Continuar'
                        })
                    }
                } else {
                    Swal.fire({
                        title: 'Todos los campos son obligatorios',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }                
            });



            $("#btnActualizar").click(function () {
                //console.log(1);
                if ($("#IdDepto2").val() != "" && $("#Departamento2").val() != "") {

                    var formulario = $("#Form2").serialize();
                    var inputsInvalidos2 = $("#Form2 .is-invalid").length;

                    var obj1 = document.getElementById("IdDepto2").value;
                    var obj2 = document.getElementById("Departamento2").value;

                    if(inputsInvalidos2 === 0){
                        $.ajax({
                            url: '@Url.Action("ActualizarDepartamento","Home")',
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            data: { idDepto: obj1, departamento: obj2 }
                        }).done(function (resp) {
                            if (resp) {
                                Swal.fire({
                                    title: 'El registro ha sido modificado correctamente',
                                    icon: 'success',
                                    confirmButtonText: 'Continuar'
                                })
                                cargarTabla();
                                $("#btnCerrar2").click();
                                limpiarCajas();
                                limpiarClases();
                            } else {
                                Swal.fire({
                                    title: 'Hubo un error al momento de actualizar el dato',
                                    icon: 'error',
                                    confirmButtonText: 'Continuar'
                                })
                            }
                        }).fail(function () {
                            Swal.fire({
                                title: 'Hubo un error al momento de actualizar el dato',
                                icon: 'error',
                                confirmButtonText: 'Continuar'
                            })
                        });
                    }else{
                        Swal.fire({
                            title: 'Verifica los textos en rojo para continuar',
                            icon: 'error',
                            confirmButtonText: 'Continuar'
                        })
                    }

                } else {
                    Swal.fire({
                        title: 'Todos los campos son obligatorios',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }
            });
        });
    </script>

}