@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(/Images/background.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FAFDFF;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: white;
        background-size: cover;
        background-position: left;
    }
    .login-content .login {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: white;
        background-size: cover;
        background-position: left;
    }
    .login-content .login {
        margin: 0;
    }
}

.login {
    padding: 50px;
    background-color: white;
    margin-top: 115px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
}

.titulo {
    font-size: 26px;
    font-weight: lighter;
}

.login-content a {
    text-decoration: none;
    color: #3cafa3;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-image {
    margin-top: 15px;
    padding: 60px;
}
    .header-image p {
        font-size: 18px;
        font-weight: lighter;
    }

#login-submit {
    background-color: #3cafa3;
    border-color: #3cafa3;
}

#register-submit {
    background-color: #20659d;
    border-color: #20659d;
}

.register {
    padding: 50px;
    background-color: white;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
}
    .register p {
        font-size: 18px;
        font-weight: lighter;
    }

    .register a {
        text-decoration: none;
        color: #3cafa3;
    }
