@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* Estrellas de valoraciones */

:root {
    --color-inactivo: #5f5050;
    --color-hover: #F9D75D;
}

.valoracion {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    font-size: 2rem;
    width: max-content;
    /*background-color: #fff;*/
    /*border: 1px solid #EBEBED;
    border-radius: 12px;*/
    padding: 10px;
}

    .valoracion button {
        background-color: initial;
        border: 0;
        color: #5f5050;
        transition: 1s all;
    }

        .valoracion button:hover {
            cursor: pointer;
            color: #F9D75D;
            transform: rotate(360deg);
        }

.icon-button {
    font-size: 0;
}

button:nth-child(1):hover ~ button {
    color: #F9D75D;
    transform: rotate(360deg);
}

button:nth-child(2):hover ~ button {
    color: #F9D75D;
    transform: rotate(360deg);
}

button:nth-child(3):hover ~ button {
    color: #F9D75D;
    transform: rotate(360deg);
}

button:nth-child(4):hover ~ button {
    color: #F9D75D;
    transform: rotate(360deg);
}

button:nth-child(5):hover ~ button {
    color: #F9D75D;
    transform: rotate(360deg);
}

.icon {
    font-size: 20px;
}

.font-gold {
    color: #F9D75D !important;
    -webkit-text-stroke: 0.5px #5f5050;
    font-size: 25px
}
/*Fin de estrellas valoraciones*/

